@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #fae8d5;
}
.navbar{
  background-color: #e34232 ;
}
.available-task{
  background-color: #e34232 ;
}
.login{
  border: 2px white solid;
  border-radius: 10%;;
  padding: 7px 10px;

}
.register{
  border: 2px white solid;
  border-radius: 10%;;
  padding: 7px 10px;

}
.hideme {
  display: none !important;
}

.todo-edit-task-input,
.todo-add-task-input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  max-width: 300px;
}

.todo-update-task,
.todo-add-task {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.todo-task {
  max-width: 260px;
}
