@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #631bff;
}

.navBar {
  background-color: black;
  box-shadow: 0px 10px 5px 0px white;
}

#box, #box1 {
  background-color: whitesmoke;
  text-shadow: 1.5px 1.5px rgb(2,20,100);
  text-decoration: bold;
  border-radius: 1.5rem;
  box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.751), 10px -10px 15px rgba(0, 0, 0, 0.751);
}

#inputUsername, #inputPassword , #inputFirstName, #inputLastName, #inputEmail {
  background-color: rgb(234, 234, 234);
  box-shadow: -5px 5px 10px rgb(2,20,100);
  border-radius: 1rem;
  color: black;
}

#loginButton, #registerButton {
  background-color: #fa105a;
  border-radius: 1rem;
  color: black;
  border-color: #fa105a;
  box-shadow: -5px 5px 10px #b7003a;
}

#loginButton:hover, #registerButton:hover {
  filter: brightness(0.80);
}

#addTask {
  border-color: black;
  box-shadow: -5px 5px 10px rgb(2,20,100);
}

#addTaskButton {
  background-color: black;
  color: white;
  border-color: black;
  box-shadow: 2px 2px rgb(2,20,100);
}

#addTaskButton:hover {
  background-color: rgba(39, 38, 38, 0.984);
}

#tasks {
  background-color: whitesmoke;
  box-shadow: -5px 5px 10px rgb(2,20,100);
}

#heading {
  text-align: center;
  margin-top: 3%;
  margin-bottom: -20vh;
  font-size: 8vh;
  font-family: hammerhead;
  text-shadow: 1.5px 1.5px black;
}

.hideme {
  display: none !important;
}

.todo-edit-task-input,
.todo-add-task-input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  max-width: 300px;
}

.todo-update-task,
.todo-add-task {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.todo-task {
  max-width: 260px;
}
